{% extends "admin/admintable.html" %}

{% block title %}
    Text
{% endblock %}

{% block content %}
<br>
<table class="table table-sm table-condensed table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Images</th>
            <th scope="col">Edit</th>


        </tr>
    </thead>
    <tbody>

        {% for post in posts %}
        <tr>
            <td>-</td>
            <td><img src="{{url_for('static', filename='uploads/' + post.file)}}" width="50" height="40"></td>
 
            <td>
               <a href="{{url_for('updatefile', id=post.id)}}" class="btn btn-sm btn-outline btn-info">Edit</a>
            </td>
            {% endfor %}

        </tr>
        
    </tbody>
</table>
<style>
    body{
      background-color: blueviolet;
      color: white;
    }
</style>
{% endblock %}