{% extends "admin/admintable.html" %}

{% block title %}
    Admin
{% endblock %}

{% block content %}
<br>
<table class="table table-sm table-condensed table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Title</th>
            <th scope="col">Text</th>
            <th scope="col">Image</th>
            <th scope="col">Date</th>
            <th scope="col">Delete</th>

        </tr>
    </thead>
    <tbody>

        {% for post in posts %}
        <tr>
            <td>-</td>
            <td>{{post.title}}</td>
            <td>{{post.text}}</td>
            <td><img src="{{url_for('static', filename='uploads/' + post.file)}}" width="50" height="40"></td>
            <td>{{post.date_created.strftime('%B %d, %Y')}}</td>
            <td>
                <button onclick="document.getElementById('id01').style.display='block'" class="btn btn-danger btn-sm">Delete</button>

                <div id="id01" class="modal">
                <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close">&times;</span>
                <form class="modal-content" action="{{url_for('delete', id=post.id)}}">
                    <div class="container">
                    <h1>Delete Project</h1>
                    <p>Are you sure you want to delete this project?</p>

                    <div class="clearfix">
                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                    </div>
                    </div>
                </form>
                </div>
                
            </td>
        </tr>
        
        
        {% endfor %}

        
        
    </tbody>
</table>
<style>
    body{
      background-color: blueviolet;
      color: white;
    }
</style>
{% endblock %}
