{% extends "base.html" %}
{% block title %}
Achievements&Goals
{% endblock %}
{% block content %}
<section id="achievement">
    <br>
    <h1 class="heading">Achievements and Goals</h1>
    <br>
    <div class="columns">
        <div class="box">
            <img src="static/mee.jpg" alt="">
            <h2>Fed 1000</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus esse recusandae omnis, tenetur a, cum ducimus eaque cupiditate expedita possimus saepe optio quod perspiciatis nihil, velit voluptatum qui doloremque quo. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum expedita ipsam, corporis consequuntur libero qui accusantium tempora velit obcaecati recusandae iusto eveniet quidem inventore quasi. Quidem quisquam corrupti exercitationem rerum. Lorem ipsum dolor sit amet consectetur, adipisicing elit. </p>
        </div>
        <div class="box">
            <img src="static/mee1.jpg" alt="">
            <h2>Helped the less privilege</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus esse recusandae omnis, tenetur a, cum ducimus eaque cupiditate expedita possimus saepe optio quod perspiciatis nihil, velit voluptatum qui doloremque quo.</p>
        </div>
        <div class="box">
            <img src="static/mee2.jpg" alt="">
            <h2>Built pedestrian bridge</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus esse recusandae omnis, tenetur a, cum ducimus eaque cupiditate expedita possimus saepe optio quod perspiciatis nihil, velit voluptatum qui doloremque quo.</p>
        </div>
        <div class="box">
            <img src="static/mee3.jpg" alt="">
            <h2>Empowered 500 youths</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus esse recusandae omnis, tenetur a, cum ducimus eaque cupiditate expedita possimus saepe optio quod perspiciatis nihil, velit voluptatum qui doloremque quo.</p>
        </div>
          
    </div>
</section>
{% endblock %}