<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script src="https://kit.fontawesome.com/a0e3929ec3.js" crossorigin="anonymous"></script>


    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='nav.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='cre.css')}}">
    <link rel="stylesheet" media="screen and (max-width:1170px)" href="{{url_for('static', filename='tablet.css')}}">
    <link rel="stylesheet" media="screen and (max-width:900px)" href="{{url_for('static', filename='phone.css')}}">
    <link rel="stylesheet" media="screen and (max-width:695px)" href="{{url_for('static', filename='phone1.css')}}">

</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/dig">Dignitaries</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/project">Projects</a></li>
            <li><a href="/a&g">Achievements</a></li>
        </ul>
    </nav>
    <div class="main">{% block content %} {% endblock %}</div>
</body>
</html>