{% extends "base.html" %}
{% block title %}
Dignitaries
{% endblock %}
{% block content %}
<section id="dig">
    <br>
    <h1 class="heading">DIGNITARIES</h1>
    <div class="gallery">
        <article>
        <img src="static/mee.jpg" alt="">
        <h4>USEGHAN NOAH</h4>
        <P>C.E.O.</P>
        </article>
        <article>
            <img src="static/mee1.jpg" alt="">
            <h4>USEGHAN NOAH</h4>
            <P>Chairman</P>
        </article>
        <article>
            <img src="static/mee2.jpg" alt="">
            <h4>USEGHAN NOAH</h4>
            <P>C.E.O.</P>
        </article>
        <article>
            <img src="static/mee3.jpg" alt="">
            <h4>USEGHAN NOAH</h4>
            <P>C.E.O.</P>
        </article>
        <article>
            <img src="static/mee4.jpg" alt="">
            <h4>USEGHAN NOAH</h4>
            <P>C.E.O.</P>
        </article>
        <article>
            <img src="static/mee.jpg" alt="">
            <h4>USEGHAN NOAH</h4>
            <P>C.E.O.</P>
        </article>
    </div>
    <br>
    <br>
</section>
{% endblock %}